<div class="footer">
    <div class="content">
        <!-- <button class="openAccount" (click)="openSteps()">Open Account</button> -->
    </div>
</div>
<nav class="navbar  navbar-light  bg-light navbar-expand-sm">
        <img class="check" src="../../assets/images/check.png" />
        <div class="content">
            <p>Inyova guarantees highest investment standards.</p>
            <a link=""> Learn more.</a>
        </div>
  
    <div class="navbar-collapse" id="navbarContent">
      <ul class="navbar-nav">
        <li class="nav-item">
            <button class="book">Book Consultation</button>
        </li>
        <li class="nav-item" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
            <button class="openAccount" (click)="openSteps()">Open Account</button>
        </li>
      </ul>
    </div>
  </nav>