img{
    width:100px;
    height:35px;
    margin-left: 10px;
}
.navbar-nav{
    margin-left:50px !important;
}
.navbar-link {
    color: black !important;
}
.activebutton {
    text-decoration: underline;
    font-weight:bold;
 }