
.button {
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    outline: 0;
}
.activebutton {
   text-decoration: underline;
   font-weight:bold;
}
.navbar{
 display: block;
 width:100%;
 background-color: #ffffff;
 color: black !important;
font-size: 14px;
}
.navbar-logo{
    display: inline-block;
    padding:10px;
    float:left;
}
.navbar-actions {
    display:inline-block;
    padding:10px;
    float:right;
}
img {
    width:100px;
    height:35px;
}
.navbar-links {
    display: inline-block;
    padding:0px;
    margin:10px;
}
ul {
    margin:0px;
    padding:10px;
}
li {
    display: inline-block ;
    list-style-type: none;
    padding-right:30px;
}
a{
    color: black;
    text-decoration: none;
}
.navbar-menu{
    width:30px !important;
    height:30px !important;
}