<nav class="navbar">
  <div class="navbar-logo">
    <img src="../assets/images/inyova-logo-1024x287.png" />
  </div>
  <div class="navbar-links">
    <ul>
      <li routerLinkActive="activebutton" ariaCurrentWhenActive="page"> <a routerLink="/stratergy">Stratergy</a> </li>
      <li routerLinkActive="activebutton" ariaCurrentWhenActive="page"> <a routerLink="/details">Next steps</a></li>
    </ul>
  </div>
  <div class="navbar-actions">
    <!-- <img class="navbar-menu" src="../assets/menu.jpg"/> -->
  </div>
</nav>
<router-outlet><router-outlet />